name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Deploy when you push to main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # Checkout code
      - name: Checkout
        uses: actions/checkout@v3
      
      # Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: 'stable'
      
      # Get dependencies
      - name: Get dependencies
        run: flutter pub get
      
      # Build web app
      - name: Build web
        run: flutter build web --release --base-href "/instagram-photo-edit-app/"
      
      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
